*.asv
*.ncb
*.sln
*.user
*.xml
*.suo
*.mat
/imgre/**/*.dll
/imgre/*.dll
/ultrasonix/**/*.dll
/ultrasonix/*.dll
*.bit
*.fig
*.bmp
*.png
*.daq
*.tif
*.txt
/dat/*
/ultrasonix/bin/*
/ultrasonix/bin/**/*
/imgre/rfdata/*
/imgre/rfdata/**/*
/imgre/data/*
/imgre/data/**/*
/imgre/bin/*.dll
/imgre/bin/*.exe
/imgre/bin/dat/*
/imgre/bin/fw/*
/imgre/bin/fw/**/*
/imgre/+maq/src/mexw32/*
/imgre/+mexo/src/mexw32/*
/imgre/+fieldii/*
/imgre/+fieldii/**/*
/imgre/cmut/*
/imgre/cmut/**/*
