*.asv
*.ncb
*.sln
*.user
*.xml
*.suo
*.mat
*.dll
*.bit
*.fig
*.bmp
*.png
*.tif
/dat/*
/ultrasonix/bin/*
/ultrasonix/bin/**/*
/imgre/rfdata/*
/imgre/rfdata/**/*
/imgre/bin/*.dll
/imgre/bin/dat/*
/imgre/bin/fw/*
/imgre/bin/fw/**/*
/imgre/maq/src/mexw32/*
/imgre/mexo 6.0.3/src/mexw32/*