*.asv
*.ncb
*.sln
*.user
*.xml
*.suo
*.mat
*.dll
*.bit
*.fig
*.bmp
*.png
*.tif
/dat/*
/ultrasonix/bin/*
/ultrasonix/bin/**/*
/imgre/rfdata/*
/imgre/rfdata/**/*
/imgre/maq/fw/*
/imgre/maq/fw/**/*
/imgre/mexo_6.0.3/dat/*
/imgre/mexo_6.0.3/src/mexw32/*